.ul{
   color: green ;
   font-family: 'Potta One', cursive;
}
.box{
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 50px;
    color: indigo;
}
ol{
    font-family: 'Dancing Script', cursive;
}
.sulku{
    color: red;
}
